@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,400&family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/calibre');
@import url("Styles/header.css");
@import url("Styles/apresentacao.css");
@import url("Styles/nav-lateral-left.css");
@import url("Styles/nav-lateral-right.css");
@import url("Styles/about.css");
@import url("Styles/experiencia.css");
@import url("Styles/projetos-left.css");
@import url("Styles/projetos-right.css");
@import url("Styles/contato.css");
@import url("Styles/footer.css");


* {
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
}


body{
    box-sizing: border-box;
    background-color: #0a192f;
    color: #F6F6F6;
    font-family: calibri;
}

/* ============ Responsividade ============ */

 @media(max-width: 800px ){  /* Se largura for MENOR que 800px, haja assim */

    .cabecalho {
        display: none;
    }

    .navLateral-l {
        display: none;
    
    }
    .navLateral-r{
        display: none;
}

    .apresentacao {
        margin-top: 45%;
        padding-left: 10%;
        margin-bottom: 70%;
    }

    .apresentacao__conteudo {
        width: 100%;
    }

    .apresentacao__conteudo__firstLine {
        font-size: 16px;
    }

    .titulo-destaque{
        font-size: 2.5rem;
    }

    .images_tech {
        width: 10%;
        padding: 0 2%;
    }

    .about__titulo {
        padding-left: 8%;
    }


    .paragrafo {
        margin-top: 9%;
    }

    .conteudo__about {
        margin: 2% 1% 0% 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__texto {
        margin-top: 5%;
        margin-bottom: 25%;
        margin-left: 8%;
        font-size: 18px
    }   

    .about__lista {
        display: grid;
        grid-template-columns: 70px 70px 70px 70px;
        list-style:url('../assets/marcador2.PNG')
    }

    .about__lista__item{
        margin-bottom: 15%;
        font-size: 0.9rem;
    }

    .about__img {
        margin-bottom: 25%;
    }

    
     .categoria__experiencia{
        margin-left: 8%;
    }
    
    
    .experienciaSection {
        margin: 0% 15% 21% 0%;
    }

   
    .linha-horizontal__experiencia {
        width: 38.5%;
        margin-left: 47%;
    }

    .experienciaSection {
        margin-left: 18%;
        margin-bottom: 35%;
    }

    .experiencia__titulo {
        margin-top: 25%;
        font-size: 1rem;
        margin-left: 0%;
    }

    h6 {
        margin-left: 0%;    
    }

    .experiencia__texto {
        text-align: justify;
        margin-left: 0%;
    }


    .contato__section {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 25%;
    }


    .projetosH1 {
        margin-left: 8%;
    }

    .linha-horizontal__projetos {
        width: 50%;
        margin-left: 35%;
    }

    .projetosH1 {
        margin-left: 8%;
    }

    .projetos_section {
        margin-top: 17%;
        margin-left: 8%;
        margin-bottom: 30%;
    }

    .projetos__imagem, .projetos__imagem .B {
        visibility: hidden; }


    .projetos__titulo .A { 
        left: 3%; 
    }

    .projetos__titulo .B{
        position: relative;
        left: 3%;
    }

    .projetos__descrição{
        text-align: justify;
    }

    
    .projetos__descrição .A{
        margin-top: -3%;
        right: 11%;
        left: 3%;
        padding: 6% 6% 6% 6% ;
    }

    .projetos__descrição .B{
        margin-top: -3%;
        right: 11%;
        left: 3%;
        padding: 6% 6% 6% 6% ;
    } 

    .projetos__listaTechs {
        margin-top: 24%;
        
    }

    .projetos__listaTechs .A {
        right: 15%;
        left: 3.5%;
    }

    .projetos__listaTechs .B {
        margin-top: 26%;
        right: 15%;
        left: 3.5%;
    }

    .projetos__atalhosA{
        width: 25%;
        top: 110%;
        right: 98%;
    }

    .projetos__atalhosA .vercelA{
        left: 415%; 
    }


    .projetos__atalhosA .githubA {
        left: 375%; 
    }

    .projetos__atalhosB{
        width: 25%;
        top: 104%;
        right: 98%;
    }

    .projetos__atalhosB .vercelB{
        left: 415%; 
    }


    .projetos__atalhosB .githubB {
        left: 375%; 
    }


    .contato__section {
        margin-top: 20%;
        margin-bottom: 35%;
    }

    .contato__icons {
        margin-left: -8%;
    }

    .rodape{
        margin-bottom: 5%;
        font-size: 65%;
    }

    .linha-horizontal {
        width: 44%;
        margin-left: 47%;
    }

    .linha-horizontal__experiencia {
        width: 34%;
        margin-left: 52%;
    }

    .linha-horizontal__projetos {
        width: 50%;
        margin-left: 39%;

    }

}

