.navLateral-r{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 3%;
    height: 100%;
    width: 3%;
    justify-content: flex-end;
    align-items: flex-end;
}

.navLateral-r__email{
    letter-spacing: 2px;
    margin-bottom: 480%;
    margin-right: -220%;
    font-size: 0.8rem;
    color: #86a0f5;
    text-decoration: none;
    transform: rotate(90deg);
}

.navLateral-r__email:hover{
    color: #64FFDA;
}



/* ============ Responsividade ============ */

@media(max-width: 800px ){  /* Se largura for MENOR que 800px, haja assim */
    
    .navLateral-r{
        display: none;
    }
}