.navLateral-r{
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 1.3rem;
    height: 30%;
    width: 2%;
    right: 2%;
    bottom: 0%;
}

.navLateral-r__email{
    letter-spacing: 2.5px;
    font-size: 0.8rem;
    color: #86a0f5;
    text-decoration: none;
    transform: rotate(90deg);
}

.navLateral-r__email:hover{
    color: #64FFDA;
}



/* #linha-vertical-r {
    height: 9%;
    border-right: 0.1rem solid #CCD6F6;
    position: fixed;
    margin-top: 41.1%;
    margin-left: 96.8%;
} */



/* ============ Responsividade ============ */

@media(max-width: 800px ){  /* Se largura for MENOR que 800px, haja assim */
    
    .navLateral-r{
        display: none;
    }
}