.projetos__imagem .B {
    position: relative; 
    left: 23%;
    width: 40%;
    filter: brightness(0.8); 
}


.projetos__titulo .B {
    position: absolute; 
    top: 10%;
    left: 17%;
    right: 63%;
}


.projetos__descrição .B{
    position: absolute;
    top: 27%;
    right: 44%;
    left: 16.5%;
    line-height: 125%;
    padding: 1% 1% 1% 1% ;
    text-align: justify;
}


.projetos__atalhosB{
    width: 15%;
    top: 80%;
    position: absolute;
}


.projetos__atalhosB .vercelB:hover{
    filter: contrast(900%); 
}

.projetos__atalhosB .githubB {
    left: 25%; 
}

.projetos__atalhosB .githubB:hover{
    filter: contrast(900%); 
}

.link_cc_right {
    position: absolute;
    font-family: 'Fira Code', monospace;
    font-size: 0.75rem;
    margin-left: 17%;
    margin-top: -5%;
    color: #64FFDA;
    
}




/* ============ Responsividade ============ */


@media(max-width: 800px ){  /* Se largura for MENOR que 800px, haja assim */


    /* .projetos__imagem, .projetos__imagem .B {
        visibility: hidden; } */

    /* .projetos__titulo .B{
        position: relative;
        left: 3%;
    } */

    /* .projetos__descrição{
        margin-top: 35%;
        text-align: justify;
    }

    
    .projetos__descrição .B{
        
        right: 11%;
        left: 3%;
        padding: 6% 6% 6% 0% ;
    }  */

    .projetos__imagem, .projetos__imagem .B {
        display: none; }

    .projetos__titulo .B{
        /* margin-top: -7%; */
        position: relative;
        left: 3%;
    }

    .projetos__descrição{
        text-align: justify;
    }

    .projetos__descrição .B{
        margin-right: 8%;
        margin-top: 10%;
        right: 11%;
        left: 3%;
        padding: 4% 6% 4% 6% ;
    } 


    .projetos__listaTechs {
        margin-top: 24%;   
    }

    .projetos__listaTechs .B {
        margin-top: 26%;
        right: 15%;
        left: 3.5%;
    }

    .projetos__atalhosB{
        width: 25%;
        top: 104%;
        right: 98%;
    }

    .projetos__atalhosB .vercelB{
        left: 415%; 
    }


    .projetos__atalhosB .githubB {
        left: 375%; 
    }

    .link_cc_right {
        position: absolute;
        font-family: 'Fira Code', monospace;
        font-size: 0.75rem;
        margin-left: 45%;
        margin-top: 50%;
        color: #64FFDA;
    }












    
}