.projetos__imagem .B {
    position: relative; 
    top: 50%;
    left: 33%;
}


.projetos__titulo B {
    position: absolute; 
    top: 10%;
    right: 25%;
    left: 0%;
}


.projetos__descrição .B{
    position: absolute;
    top: 30%;
    right: 61.5%;
    left: 0%;
    padding: 1.5% 1.5% 1.5% 1.5% ;
}


.projetos__listaTechs .B {
    position: absolute;
    top: 66%;
    right: 59.3%;
    left: 0%;
}

.projetos__atalhosB{
    width: 15%;
    top: 80%;
    position: absolute;
}


.projetos__atalhosB .vercelB{
    left: 0%; 
}

.projetos__atalhosB .vercelB:hover{
    filter: contrast(900%); 
}

.projetos__atalhosB .githubB {
    left: 25%; 
}

.projetos__atalhosB .githubB:hover{
    filter: contrast(900%); 
}




/* ============ Responsividade ============ */


@media(max-width: 800px ){  /* Se largura for MENOR que 800px, haja assim */


    .projetos__imagem, .projetos__imagem .B {
        visibility: hidden; }

    .projetos__titulo .B{
        position: relative;
        left: 3%;
    }

    .projetos__descrição{
        text-align: justify;
    }

    
    .projetos__descrição .B{
        margin-top: -3%;
        right: 11%;
        left: 3%;
        padding: 6% 6% 6% 6% ;
    } 

    .projetos__listaTechs {
        margin-top: 24%;   
    }

    .projetos__listaTechs .B {
        margin-top: 26%;
        right: 15%;
        left: 3.5%;
    }

    .projetos__atalhosB{
        width: 25%;
        top: 104%;
        right: 98%;
    }

    .projetos__atalhosB .vercelB{
        left: 415%; 
    }


    .projetos__atalhosB .githubB {
        left: 375%; 
    }
}