.projetosH1 {
    margin: 0% 0% 10% 17%;
    font-family: "calibri";
    font-size: 1.5rem; 
}

.linha-horizontal__projetos {
    width: 30%;
    border: 0.1rem solid #152e53;
    margin-left: 10%;
    position: relative;
}


.projetos_section {
    width: 100%;
    display: inline-block;
    position: relative;
    font-family: 'Calibre', sans-serif;
    /* margin: 0% 0% 8% 26%; */
}


.projetos__imagem {
    filter: brightness(0.4); 
    width: 55%;
}


.projetos__imagem:hover {
    filter: none;
}

.projetos__titulo {
    font-family: 'Fira Code', monospace;
    color: #64FFDA;
    font-size: 1.1rem;
    }


.projetos__titulo .A{
    position: absolute; 
    top: 0%;
    right: 22%;
 }
        
 .projetos__descrição{
    background-color: #15294b;
    border-radius: 5px;
    font-size: 1rem;
    color: #8892B0;
    line-height: 125%;
}


.projetos__descrição .A{
    position: absolute;
    top: 30%;
    right: 22%;
    left: 30%;
    padding: 2% 1.5% 1.5% 2% ;
}

.projetos__listaTechs {
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    color: #8892B0;
}


.projetos__listaTechs .A {
    position: absolute;
    top: 70%;
    right: 22%;
}


.projetos__atalhosA{
    width: 15%;
    top: 85%;
    position: absolute;
    right: 71.5%;
}


.projetos__atalhosA .vercelA{
    left: 415%; 
}

.projetos__atalhosA .vercelA:hover{
    filter: contrast(900%); 
}

.projetos__atalhosA .githubA {
    left: 390%; 
}

.projetos__atalhosA .githubA:hover{
    filter: contrast(900%); 
}





/* ============ Responsividade ============ */

@media(max-width: 800px ){  /* Se largura for MENOR que 800px, haja assim */


    .projetosH1 {
        margin-left: 8%;
    }

    .linha-horizontal__projetos {
        width: 50%;
        margin-left: 35%;
    }

    .projetosH1 {
        margin-left: 8%;
    }

    .projetos_section {
        margin-top: 17%;
        margin-left: 8%;
        margin-bottom: 30%;
    }

    .projetos__titulo .A { 
        left: 3%; 
    }

    .projetos__descrição{
        text-align: justify;
    }

    .projetos__descrição .A{
        margin-top: -3%;
        right: 11%;
        left: 3%;
        padding: 6% 6% 6% 6% ;
    }

    .projetos__listaTechs {
        margin-top: 24%;   
    }

    .projetos__listaTechs .A {
        right: 15%;
        left: 3.5%;
    }

    .projetos__atalhosA{
        width: 25%;
        top: 110%;
        right: 98%;
    }

    .projetos__atalhosA .vercelA{
        left: 415%; 
    }


    .projetos__atalhosA .githubA {
        left: 375%; 
    }

    .linha-horizontal__projetos {
        width: 50%;
        margin-left: 39%;
    }

}