.projetosH1 {
    margin: 0% 0% 10% 17%;
    font-family: "calibri";
    font-size: 1.5rem; 
}


.linha-horizontal__projetos {
    width: 65%;
    border: 0.1rem solid #152e53;
    margin-left: 12%;
    position: relative;
}


.projetos_section {
    width: 100%;
    display: inline-block;
    position: relative;
    font-family: 'Calibre', sans-serif;
    margin-bottom: 10%;
}


.projetos__imagem {
    position: relative; 
    left: 17%;
    filter: brightness(0.2); 
    width: 40%;
}

.projetos__imagem:hover {
    filter: none;
}

.projetos__titulo {
    font-family: 'Fira Code', monospace;
    color: #64FFDA;
    font-size: 1.1rem;
    }


.projetos__titulo .A{
    position: absolute; 
    top: 5%;
    left: 62%;
    right: 16%;
 }
        
 .projetos__descrição{
    background-color: #1d3155;
    border-radius: 5px;
    font-size: 1rem;
    color: #8892B0;
    line-height: 125%;
}


.projetos__descrição .A{
    position: absolute;
    top: 20%;
    right: 17%;
    left: 40%;
    line-height: 125%;
    padding: 1% 1% 1% 1% ;
    text-align: justify;
}

.projetos__listaTechs {
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    color: #8892B0;
}


.projetos__listaTechs .A {
    position: absolute;
    top: 70%;
    right: 22%;
}


.projetos__atalhosA{
    width: 15%;
    top: 85%;
    position: absolute;
    right: 71.5%;
}


.projetos__atalhosA .vercelA{
    left: 415%; 
}

.projetos__atalhosA .vercelA:hover{
    filter: contrast(900%); 
}

.projetos__atalhosA .githubA {
    left: 390%; 
}

.projetos__atalhosA .githubA:hover{
    filter: contrast(900%); 
}

.link_cc_left {
    position: absolute;
    font-family: 'Fira Code', monospace;
    font-size: 0.75rem;
    margin-left: 71%;
    margin-top: -5%;
    color: #64FFDA
}




/* ============ Responsividade ============ */

@media(max-width: 800px ){  /* Se largura for MENOR que 800px, haja assim */

    .projetos_section {
        margin-top: 17%;
        margin-left: 8%;
        margin-bottom: 40%;
    }

    .projetosH1 {
        margin-left: 8%;
    }

    .linha-horizontal__projetos {
        width: 50%;
        margin-left: 35%;
    }

    .projetosH1 {
        margin-left: 8%;
    }


    .projetos__titulo .A { 
        left: 3%; 
    }

    .projetos__descrição{
        text-align: justify;
    }

    .projetos__descrição .A{
        margin-top: 9%;
        right: 11%;
        left: 3%;
        padding: 4% 6% 4% 6%;
    }

    .projetos__listaTechs {
        margin-top: 24%;   
    }

    .projetos__listaTechs .A {
        right: 15%;
        left: 3.5%;
    }

    .projetos__atalhosA{
        width: 25%;
        top: 110%;
        right: 98%;
    }

    .projetos__atalhosA .vercelA{
        left: 415%; 
    }


    .projetos__atalhosA .githubA {
        left: 375%; 
    }

    .linha-horizontal__projetos {
        width: 50%;
        margin-left: 39%;
    }

    .link_cc_left {
        position: absolute;
        font-family: 'Fira Code', monospace;
        font-size: 0.75rem;
        margin-left: 53%;
        margin-top: 27%;
        color: #64FFDA
    }

}