@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,400&family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/calibre');


* {
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
}


.cabecalho{
    width: 100%;
    padding-top: 0.3%;
    padding-bottom: 1%;
    background-color:#0a192f ;
}

.cabecalho__menu{
    padding-top: 1.5%;
    padding-right: 4%;
    font-family: 'Fira Code', monospace;
    display: flex;
    gap: 1.4%;
    justify-content: flex-end;
}
  

.cabecalho__menu__link {
    font-size: 0.8rem;
    color: #CCD6F6;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cabecalho__menu__link:hover {
    color: #64FFDA;
}

.cabecalho__menu__link__resumo{
    color: #64FFDA;
    border: 0.1rem solid #64FFDA;
    border-radius: 0.5rem;
    padding: 8px 15px;
}

.cabecalho__menu__link__resumo:hover {
    color: #64FFDA;
}

.numero {
    color: #64FFDA;
    font-family: 'Fira Code';
}

body{
    box-sizing: border-box;
    background-color: #0a192f;
    color: #F6F6F6;
    font-family: calibri;
}

.titulo-destaque{
    color: #CCD6F6;
    font-size: 3.5rem;
}

.apresentacao{
    padding: 10% 7% 25% 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    color: #64FFDA;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    
}

.apresentacao__conteudo__firstLine {
    font-size: 0.9rem;
    font-family: 'Fira Code', monospace;
}

.apresentacao__conteudo__titulo{
    font-size: 2.2rem;
    font-family: 'Calibre', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 1.2rem;
    font-family: 'Calibre', sans-serif;
    color: #8892B0;
    padding: 5% 0% 10% 0%;
}

.apresentacao__images {
    display: flex;
    justify-content: flex-start;

}

.images_tech {
    width: 7%;
    padding: 0 1.5%;
}



/* ============ NAV LATERAL LEFT ============= */


.navLateral-l{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 30%;
    margin-left: 3%;
    gap: 30px;
    font-size: 1.3rem;

}

.ri-github-line {
    text-decoration: none;
    color: #9db0fd;
}

.ri-github-line:hover {
    transform: scale(1.2);
    color: #64FFDA;
}

.ri-linkedin-fill {
    text-decoration: none;
    color: #9db0fd;
}

.ri-linkedin-fill:hover {
    transform: scale(1.2);
    color: #64FFDA;
}

.ri-instagram-line{
    text-decoration: none;
    color: #9db0fd;
}

.ri-instagram-line:hover{
    transform: scale(1.2);
    color: #64FFDA;
}


.ri-facebook-fill{
    text-decoration: none;
    color: #9db0fd;
}

.ri-facebook-fill:hover{
    transform: scale(1.2);
    color: #64FFDA;
}

#linha-vertical-l {
    height: 10%;
    border-right: 0.1rem solid #CCD6F6;
    position: fixed;
    margin-top: 11%;
    margin-left: 0.5%;
}

.linha-horizontal {
    width: 22.5%;
    border: 0.1rem solid #152e53;
    margin-left: 34%;
    position: relative;
}



/* ============ NAV LATERAL RIGHT ============= */

.navLateral-R{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 35%;
    font-size: 1.3rem;
}

.navLateral-r__email{
    position: fixed;
    margin-left: 91%;
    margin-top: 33.7%;
    transform: rotate(90deg);
    color: #86a0f5;
    font-size: 0.8rem;
    letter-spacing: 2.5px;
    text-decoration: none;
}

.navLateral-r__email:hover{

    color: #64FFDA;

}

#linha-vertical-r {
    height: 9%;
    border-right: 0.1rem solid #CCD6F6;
    position: fixed;
    margin-top: 41.1%;
    margin-left: 96.8%;
}







/* ============ ABOUT ============= */



.about__titulo {
    padding: 6% 50% 0% 26%;
    color: #CCD6F6;
    font-family: calibri;
    font-size: 1.5rem;
}


.conteudo__about {
    margin: 2% 27% 0% 26%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: calibre; 
}


.about__texto {
    margin: 0% 8% 55% 0%;
    font-size: 1rem;
    color: #8892B0;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.paragrafo {
    margin-bottom: 3%;
}

.about__lista {
    display: flex;
    flex-direction: row; 
    margin-left: 4%;
    gap: 6%;
    list-style:url('../assets/marcador.PNG')
}

.about__lista__item {
    margin: 0% 5% 0% 0%;   
}



/* ========= EXPERIENCIA =========== */


.categoria__experiencia{
    margin-top: 0%;
    padding-top: 14%;
    margin-left: 33%;
    font-family: calibri;
    font-size: 1.5rem;
}

.linha-horizontal__experiencia {
    width: 22%;
    border: 0.1rem solid #152e53;
    margin-left: 42%;
    position: relative;
}


.experienciaSection {
    margin: 0% 35% 21% 20%;
    font-family: 'Comic Neue', cursive;
}

.experiencia__titulo {
    margin-top: 10%;
    margin-left: 40%;
}


h6 {
    margin-left: 40%;
    color: #8892B0;
}

.experiencia__texto {
    margin-left: 40%;
    margin-right: 0%;
    font-size: 1rem;
    color: #8892B0;
}



/* ============= PROJETOS ========== */

.projetosH1 {
    margin: 0% 0% 5% 26%;
    padding-top: 10%;
    font-family: calibri;
    font-size: 1.5rem;
    
}

.linha-horizontal__projetos {
    width: 30%;
    border: 0.1rem solid #152e53;
    margin-left: 10%;
    position: relative;
}


.projetos_section {
    display: inline-block;
    position: relative;
    font-family: 'Calibre', sans-serif;
    margin: 0% 0% 8% 26%;
}


.projetos__imagem {
    filter: brightness(0.4); 
    width: 45%;
}


.projetos__imagem:hover {
    filter: none;
}

.projetos__titulo {
    font-family: 'Fira Code', monospace;
    color: #64FFDA;
    font-size: 1.1rem;
    }


.projetos__titulo .A{
    position: absolute; 
    top: 0%;
    right: 8%;
    left: 60.6%; 
 }
        
 .projetos__descrição{
    background-color: #15294b;
    border-radius: 5px;
    font-size: 1rem;
    color: #8892B0;
}


.projetos__descrição .A{
    position: absolute;
    top: 30%;
    right: 22%;
    left: 39%;
    padding: 2% 1.5% 1.5% 2% ;
}

/* .projetos__descrição .B {
    position: absolute;
    top: 7%;
    right: 2%;
    left: 9%;
    padding: 2% 1.5% 1.5% 2% ;
} */


.projetos__listaTechs {
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    color: #8892B0;
}


.projetos__listaTechs .A {
    position: absolute;
    top: 70%;
    right: 15%;
    left: 62.2%;
}


.projetos__atalhosA{
    width: 15%;
    top: 85%;
    position: absolute;
    right: 71.5%;
}


.projetos__atalhosA .vercelA{
    left: 415%; 
}

.projetos__atalhosA .vercelA:hover{
    filter: contrast(900%); 
}

.projetos__atalhosA .githubA {
    left: 390%; 
}

.projetos__atalhosA .githubA:hover{
    filter: contrast(900%); 
}



/* ================ PROJETOS ========================== */


.projetos__imagem .B {
    position: relative; 
    top: 50%;
    left: 33%;
}


.projetos__titulo B {
    position: absolute; 
    top: 10%;
    right: 25%;
    left: 0%;
}


.projetos__descrição .B{
    position: absolute;
    top: 30%;
    right: 61.5%;
    left: 0%;
    padding: 1.5% 1.5% 1.5% 1.5% ;
}


.projetos__listaTechs .B {
    position: absolute;
    top: 66%;
    right: 59.3%;
    left: 0%;
}

.projetos__atalhosB{
    width: 15%;
    top: 80%;
    position: absolute;
}


.projetos__atalhosB .vercelB{
    left: 0%; 
}

.projetos__atalhosB .vercelB:hover{
    filter: contrast(900%); 
}

.projetos__atalhosB .githubB {
    left: 25%; 
}

.projetos__atalhosB .githubB:hover{
    filter: contrast(900%); 
}



/* ================ CONTATO ===================== */


.contato__section {
    margin-top: 5%;
    margin-left: 36.5%;
    margin-right: 35%;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato__titulo{
    margin-bottom: 3%;
    color: #64FFDA;
    font-family: 'Fira Code', monospace;
    font-size: 0.9rem; 
}

.contato__h1 {
    letter-spacing: 0.2rem;
    font-family: 'Calibre', sans-serif;
    color: #8892B0;
}

.contato__icons {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-right: 5%;
    gap: 40%;
}

.contato__icone:hover {
    transform: scale(1.15);
}



/* ============= RODAPE ==================== */

.rodape{
    display: flex;
    justify-content: flex-end;
    color: #64FFDA;
    padding: 2%; 
    justify-content: center;

}


::-webkit-scrollbar-track {
    background-color: #0a192f;
}
::-webkit-scrollbar {
    width: 7px;

    background: #0a192f;
}
::-webkit-scrollbar-thumb {
    background: #344d70;
}






/* ============ Responvidade ============ */

 @media(max-width: 800px ){  /* Se largura for MENOR que 800px, haja assim */

    .cabecalho {
        display: none;
    }

    .navLateral-l {
        display: none;
    
    }
    .navLateral-r{
        display: none;
}
    .apresentacao {
        margin-top: 45%;
        padding-left: 10%;
        margin-bottom: 70%;
    }

    .apresentacao__conteudo {
        width: 100%;
    }

    .apresentacao__conteudo__firstLine {
        font-size: 16px;
    }

    .titulo-destaque{
        font-size: 2.5rem;
    }

    .images_tech {
        width: 10%;
        padding: 0 2%;
    }

    .about__titulo {
        padding-left: 10%;
    }

    .linha-horizontal {
        width: 45%;
        margin-left: 43%;
    }

    .paragrafo {
        margin-top: 9%;
    }

    .conteudo__about {
        margin: 2% 3% 0% 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__texto {
        margin-bottom: 25%;
        margin-left: 10%;
        font-size: 18px
        
    }   

    .about__lista {
        display: grid;
        grid-template-columns: 75px 75px 75px 75px;
        list-style:url('../assets/marcador2.PNG')
        }

    .about__lista__item{
        margin-bottom: 15%;
        font-size: 1rem;
    }

    .about__img {
        margin-bottom: 25%;
    }

    

     .categoria__experiencia{
        margin-left: 10%;
    }
    
    
    .experienciaSection {
        margin: 0% 15% 21% 0%;
    }

   
    .linha-horizontal__experiencia {
        width: 38.5%;
        margin-left: 47%;
    }

    .experienciaSection {
        margin-left: 19%;
        margin-bottom: 35%;
    }

    .experiencia__titulo {
        margin-top: 25%;
        font-size: 1rem;
        margin-left: 0%;
    }

    h6 {
        margin-left: 0%;    
    }

    .experiencia__texto {
        text-align: justify;
        margin-left: 0%;
    }



    .contato__section {
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 25%;
    }


    .projetosH1 {
        margin-left: 10%;
    }

    .linha-horizontal__projetos {
        width: 50%;
        margin-left: 35%;
    }


    /* .projetos_section {
        margin-top: 17%;
        margin-left: 8%;
        margin-bottom: 45%;
    }

    .projetos__imagem {
        display: none; }

    
    .projetos__imagem .B {
        display: none;
    }

    .projetos__titulo .A { 
        left: 13%; 
    }

    .projetos__descrição{
        text-align: justify;
    }


    
    .projetos__descrição .A{
        right: 11%;
        left: 3%;
        padding: 6% 6% 6% 6% ;
    }

    .projetos__descrição .B{
        right: 11%;
        left: 3%;
        padding: 6% 6% 6% 6% ;
    } 

    .projetos__listaTechs {
        margin-top: 24%;
        
    }

    .projetos__listaTechs .A {
        right: 15%;
        left: 3.5%;
    }

    .projetos__listaTechs .B {
        margin-top: 26%;
        right: 15%;
        left: 3.5%;
    }

    .projetos__atalhosA{
        width: 25%;
        top: 110%;
        right: 98%;
    }

    .projetos__atalhosA .vercelA{
        left: 415%; 
    }


    .projetos__atalhosA .githubA {
        left: 375%; 
    }

    .projetos__atalhosB{
        width: 25%;
        top: 104%;
        right: 98%;
    }

    .projetos__atalhosB .vercelB{
        left: 415%; 
    }


    .projetos__atalhosB .githubB {
        left: 375%; 
    } */


    .rodape{
        margin-bottom: 5%;
        font-size: 80%;
    }

}

