/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,400&family=Fira+Code:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/calibre');

/* Padding:  CIMA DIREITA BAIXO ESQUERDA */

*{
    margin: 0;
    padding: 0;
}
/* .cabecalho{
    padding: 1.5% 0% 0% 15%;
}

.cabecalho__menu{
    
    font-family: 'Fira Code', monospace;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    padding: 0.5% 5% 6% 0%;    
} */

.cabecalho{
    width: 100%;
    padding-top: 0.3%;
    padding-bottom: 1%;
    /* padding-right: 20%; */
    /* padding-left: 1%; */
    /* position: fixed ; */
    background-color:#0a192f ;
    
}

.cabecalho__menu{
    padding-top: 1.5%;
    padding-right: 4%;
    font-family: 'Fira Code', monospace;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}
  

.cabecalho__menu__link {
    font-size: 0.75rem;
    color: #CCD6F6;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.cabecalho__menu__link:hover {
    color: #64FFDA;
}

.cabecalho__menu__link__resumo{
    color: #64FFDA;
    border: 1px solid #64FFDA;
    border-radius: 4px;
    padding: 8px 15px;
}

.cabecalho__menu__link__resumo:hover {
    color: #64FFDA;
}


body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #0a192f;
    /* background-color: #495670; SELECIONADO */
    color: #F6F6F6;
}

.titulo-destaque{
    color: #CCD6F6;
    font-size: 3.5rem;

}

.apresentacao{
    /* margin: 10% 15%; */
    padding: 10% 7% 25% 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    color: #64FFDA;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.apresentacao__conteudo__firstLine {
    font-size: 0.9rem;
    font-family: 'Fira Code', monospace;
}

.apresentacao__conteudo__titulo{
    font-size: 2.2rem;
    font-family: 'Calibre', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 1.2rem;
    font-family: 'Calibre', sans-serif;
    color: #8892B0;
    padding: 5% 0% 10% 0% ;
}

.apresentacao__images {
    display: flex;
    justify-content: flex-start;

}

.images_tech {
    width: 7%;
    padding: 0 10px;
}






.navLateral{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 27%;
    margin-left: 3%;
    gap: 25px;
    font-size: 1.3rem;

}

.ri-github-line {
    text-decoration: none;
    color: #9db0fd;
}

.ri-github-line:hover {
    color: #64FFDA;
}

.ri-linkedin-fill {
    text-decoration: none;
    color: #9db0fd;
}

.ri-linkedin-fill:hover {
    color: #64FFDA;
}

.ri-instagram-line{
    text-decoration: none;
    color: #9db0fd;
}

.ri-instagram-line:hover{
    color: #64FFDA;
}


.ri-facebook-fill{
    text-decoration: none;
    color: #9db0fd;
}

.ri-facebook-fill:hover{
    color: #64FFDA;
}














.conteudo__about {
    /* padding: 0% 20% 15% 15%; */
    margin: 2% 30% 0% 15%;

    display: flex;
    align-items: flex-start;
    justify-content: center;  

    font-family: 'Comic Neue', cursive;
}

.about__titulo {
    padding: 4% 20% 0% 15%;
    color: #CCD6F6;
}

.about__texto {
    /* padding: 0% 20% 0% 10%;  */
    margin: 0% 8% 0% 0%;
    font-size: 1rem;
    color: #8892B0;

    display: flex;
    flex-direction: column;
}

.paragrafo {
    /* color: aquamarine; */
}

.about__lista {
    display: flex;
    flex-direction: row; 
    /* margin: 0% 0% 0% 0%; */
}

.about__lista__item {
    margin: 10% 5% 0% 0%;
    
}

.experiencia {
    margin: 15% 35% 35% 20%;
    font-family: 'Comic Neue', cursive;
}

.experiencia__titulo {
    margin-top: 10%;
    margin-left: 10%;
}

h6 {
    margin-left: 10%;
    color: #8892B0;
}

.experiencia__texto {
    margin-left: 10%;
    font-size: 1rem;
    color: #8892B0;
}

.projetosH1 {
    margin: 0% 5% 8% 25%;
    padding-top: 7%;
}

/* .projetos_section {
    display: flex;
    flex-direction: row;
    margin-bottom: 25%;
}

.projetos__imagem {
    width: 35%;
    margin-left: 15%;
}

.projetos__descrição{
    margin-top: 20%;
    color: purple;
} */


.projetos_section {
    display: inline-block;
    position: relative;
    font-family: 'Calibre', sans-serif;
    margin: 0% 0% 8% 20%;
}



.projetos_section .A {
    /* margin: 0% 5% 8% 10%; */
} 


.projetos__imagem {
    /* filter: blur(55px); */
    filter: brightness(0.3); 
    position: relative;
    width: 55%;
}

.projetos__imagem .A {
    /* top: 50%; */
}

.projetos__imagem:hover {
    filter: none;
}

.projetos__tituloA {
    font-family: 'Fira Code', monospace;
    color: #64FFDA;
    font-size: 1.1rem;
    position: absolute;
    top: 10%;
    right: 0%;
    left: 58%; }
        /*               PROJETOS TITULOS NAO CONSEGUIII */



.projetos__descriçãoA{
    background-color: #15294b;
    border-radius: 5px;
    position: absolute;
    font-size: 1rem;
    /* text-align: justify; */
    top: 30%;
    right: 25%;
    left: 45%;
    color: #8892B0;
    padding: 1% 1% 1% 1% ;
}


.projetos__listaTechsA {
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    position: absolute;
    color: #8892B0;
    top: 66%;
    right: 15%;
    left: 59.3%;
}

.projetos__atalhosA{
    width: 15%;
    top: 80%;
    position: absolute;
    right: 75%;
}


.projetos__atalhosA .vercelA{
    left: 415%; 
}

.projetos__atalhosA .vercelA:hover{
    filter: contrast(900%); 
}

.projetos__atalhosA .githubA {
    left: 390%; 
}

.projetos__atalhosA .githubA:hover{
    filter: contrast(900%); 
}



/* ============================================================= */


.projetos_section .B {
    margin: 0% 0% 0% 0%;
} 

.projetos__imagemB {
    /* filter: blur(5px); */
    filter: brightness(0.3);
    position: relative;

    left: 20%;
    width: 55%;
}

.projetos__imagemB:hover {
    filter: none;
}

.projetos__tituloB {
    font-family: 'Fira Code', monospace;
    color: #64FFDA;
    font-size: 1.25rem;
    position: absolute;
    top: 10%;
    right: 25%;
    left: 0%;
}

.projetos__descriçãoB{
    background-color: #15294b;
    border-radius: 5px;
    position: absolute;
    font-size: 1rem;
    /* text-align: justify; */
    top: 30%;
    right: 70%;
    left: 0%;
    color: #8892B0;
    padding: 1.5% 1.5% 1.5% 1.5% ;
}


.projetos__listaTechsB {
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    position: absolute;
    color: #8892B0;
    top: 66%;
    right: 59.3%;
    left: 0%;
}

.projetos__atalhosB{
    width: 15%;
    top: 80%;
    position: absolute;
}


.projetos__atalhosB .vercelB{
    left: 0%; 
}

.projetos__atalhosB .vercelB:hover{
    filter: contrast(900%); 
}

.projetos__atalhosB .githubB {
    left: 25%; 
}

.projetos__atalhosB .githubB:hover{
    filter: contrast(900%); 
}



/* ============================================== */


.contato {
    margin: 25% 0% 35% 15%;
}

.rodape{
    display: flex;
    justify-content: flex-end;
    color: #64FFDA;
    padding: 20px; 
    justify-content: center;

}


::-webkit-scrollbar-track {
    background-color: #0a192f;
}
::-webkit-scrollbar {
    width: 7px;

    background: #0a192f;
}
::-webkit-scrollbar-thumb {
    background: #344d70;
}


/* Responvidade */

 @media(max-width: 600px ){  /* Se for MENOR que 600px, aja assim */
    .apresentacao__conteudo__texto{
        color: purple;
    }
}

